<template name='pusher'>
  <div class="pushable" id="sidebar-context">
    
    {{#if isOnMobile }}
      <div id="sidebar" class="ui mobile overlay sidebar left vertical inverted labeled icon menu">
        {{> sidebar}}
      </div>
    {{else}}
      <div id="sidebar" class="ui desktop push sidebar left vertical inverted labeled icon menu">
        {{> sidebar}}
      </div>
    {{/if}}
    <div class="pusher">
      <div class='article'>
        {{#if isOnMobile }}
          <main class='ui main mobile only' style="margin-top: -12px;">
            {{> Template.dynamic template=main}}
          </main>
        {{else}}
          <main class='ui maingrid content'>
            {{> Template.dynamic template=main}}
          </main>
        {{/if}}
      </div>
    </div>
  </div>

  {{> mobileselector}}
  {{> announcement}}
  {{> nobandwidthmodal}}
  {{> nopermissionmodal}}
</template>
