<template name='pusher'>
  {{#if isOnMobile }}
    {{> mobiletopbar}}
    <div id="sidebar" class="ui mobile overlay sidebar left vertical inverted labeled icon menu">
      {{> sidebar}}
    </div>
    <div class="pusher">
      <div class='article'>
        <main class='ui main mobile only' style="margin-top: -12px;">
          {{> Template.dynamic template=main}}
        </main>
      </div>
    </div>
  {{else}}
    {{> topbar}}
    <div id="sidebar" class="ui desktop overlay sidebar left vertical inverted labeled icon menu">
      {{> sidebar}}
    </div>
    <div class="pusher">
      <div class='article'>
        <main class='ui maingrid content'>
          {{> Template.dynamic template=main}}
        </main>
      </div>
    </div>
  {{/if}}

  {{> mobileselector}}
  {{> announcement}}
  {{> nobandwidthmodal}}
  {{> nopermissionmodal}}
</template>
